@import './mixins/media.scss';

@mixin generate-align-items-classes($prefixes) {
  $alignments: (start, end, center, baseline, stretch);

  @each $prefix, $breakpoint in $prefixes {
    @if $breakpoint == null {
      @each $alignment in $alignments {
        .nvs-ai-#{$alignment} {
          align-items: #{$alignment};
        }
      }
    } @else {
      @include media-breakpoint-up($breakpoint) {
        @each $alignment in $alignments {
          .nvs-ai-#{$prefix}-#{$alignment} {
            align-items: #{$alignment};
          }
        }
      }
    }
  }
}

@include generate-align-items-classes(
  (
    '': null,
    'sm': sm,
    'md': md,
    'lg': lg,
    'xl': xl,
    'xxl': xxl
  )
);
