@import './mixins/media.scss';

@mixin generate-justify-content-classes($prefixes) {
  $justifications: (start, end, center, between, around, evenly);

  @each $prefix, $breakpoint in $prefixes {
    @if $breakpoint == null {
      @each $justification in $justifications {
        .nvs-jc-#{$justification} {
          justify-content: #{$justification};
        }
      }
    } @else {
      @include media-breakpoint-up($breakpoint) {
        @each $justification in $justifications {
          .nvs-jc-#{$prefix}-#{$justification} {
            justify-content: #{$justification};
          }
        }
      }
    }
  }
}

@include generate-justify-content-classes(
  (
    '': null,
    'sm': sm,
    'md': md,
    'lg': lg,
    'xl': xl,
    'xxl': xxl
  )
);
